/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	list-style: none;
	text-decoration: none;
}

a:visited {
	list-style: none;
	text-decoration: none;
	color: black;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	gap: 10px;
}

.btn-filter {
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: #FFFEF8;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	padding: 10px 20px;
	cursor: pointer;
}

.btn-filter:hover {
	background-color: #1D6154;
	color: white;
}

.gallery img {
	width: 100%;

}

.gallery figure {
	opacity: 0;
	transition: opacity 400ms;
}

.galleryContainer {
	min-height: 500px;
}

.active {
	background-color: #1D6154;
	color: white;
}

.hide-figure {
	display: none;
}

#contact, #log-in-form {
	width: 50%;
margin: auto;
}
#contact, #log-in-form  > * {
	text-align: center;

}
#contact h2, #log-in-form  h2{
	margin-bottom: 20px;
}
#contact form, #log-in-form  form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#log-in-form  input,
#log-in-form button {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #log-in-form  label {
	margin: 2em 0 1em 0;
}
#contact textarea, #log-in-form  textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#log-in-form a {
	text-align: center;
	color: black;
	text-decoration: underline;
}

  input[type="submit"],
  #log-in-form button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.spinner-border {
	margin: auto;
}

.spinner-border,.spinner-grow{
	width:var(--bs-spinner-width);
	height:var(--bs-spinner-height);
	vertical-align:var(--bs-spinner-vertical-align);
	border-radius:50%;
	animation:var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name)
}
@keyframes spinner-border{
	to{transform:rotate(360deg)}}
.spinner-border{
	--bs-spinner-width:2rem;
	--bs-spinner-height:2rem;
	--bs-spinner-vertical-align:-0.125em;
	--bs-spinner-border-width:0.25em;
	--bs-spinner-animation-speed:0.75s;
	--bs-spinner-animation-name:spinner-border;
	border:var(--bs-spinner-border-width) solid currentcolor;
	border-right-color:transparent
}
.spinner-border-sm{
	--bs-spinner-width:1rem;
	--bs-spinner-height:1rem;
	--bs-spinner-border-width:0.2em
}
@keyframes spinner-grow{
	0%{transform:scale(0)
	}
	50%{opacity:1;transform:none}
}
.spinner-grow{
	--bs-spinner-width:2rem;
	--bs-spinner-height:2rem;
	--bs-spinner-vertical-align:-0.125em;
	--bs-spinner-animation-speed:0.75s;
	--bs-spinner-animation-name:spinner-grow;
	background-color:currentcolor;
	opacity:0
}
.spinner-grow-sm{
	--bs-spinner-width:1rem;
	--bs-spinner-height:1rem
}
@media (prefers-reduced-motion:reduce) {
	.spinner-border, .spinner-grow {
		--bs-spinner-animation-speed: 1.5s
	}
}

.alert {
	display: none;
	justify-content: center;
	border: 1px solid red;
	color: white;
	background-color: #f7a1a1;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 60%;
	margin: 1em auto;
}